//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 17 15:47:32 2025
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

